In [1]:
import pandas as pd
import numpy as np
data = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv")

### Features

In [4]:
data = data[['Make',
'Model',
'Year',
'Engine HP',
'Engine Cylinders',
'Transmission Type',
'Vehicle Style',
'highway MPG',
'city mpg',]]

### Data preparation

In [5]:
data.columns = data.columns.str.replace(' ', '_').str.lower()

In [9]:
data.fillna(0)

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18
...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16
11910,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16
11911,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16
11912,Acura,ZDX,2013,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16
11913,Lincoln,Zephyr,2006,221.0,6.0,AUTOMATIC,Sedan,26,17

In [11]:
data.rename(columns= {'MSRP':'price'})

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18
...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16
11910,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16
11911,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16
11912,Acura,ZDX,2013,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16
11913,Lincoln,Zephyr,2006,221.0,6.0,AUTOMATIC,Sedan,26,17

## Question 1

In [13]:
data.value_counts('transmission_type')

transmission_type
AUTOMATIC           8266
MANUAL              2935
AUTOMATED_MANUAL     626
DIRECT_DRIVE          68
UNKNOWN               19
dtype: int64

## Question 2

In [14]:
data.dtypes

make                  object
model                 object
year                   int64
engine_hp            float64
engine_cylinders     float64
transmission_type     object
vehicle_style         object
highway_mpg            int64
city_mpg               int64
dtype: object

In [15]:
numerik = [
    'year',
    'engine_hp',
    'engine_cylinders',
    'highway_mpg',
    'city_mpg'
]
kategorik = [
    'make',
    'model',
    'transmission_type',
    'vehicle_style'
]

In [17]:
data[numerik].corr()

                      year  engine_hp  engine_cylinders  highway_mpg  city_mpg
year              1.000000   0.351794         -0.041479     0.258240  0.198171
engine_hp         0.351794   1.000000          0.779988    -0.406563 -0.439371
engine_cylinders -0.041479   0.779988          1.000000    -0.621606 -0.600776
highway_mpg       0.258240  -0.406563         -0.621606     1.000000  0.886829
city_mpg          0.198171  -0.439371         -0.600776     0.886829  1.000000

In [20]:
corr_mat = data[numerik].corr()
upper_corr_mat = corr_mat.where(np.triu(np.ones(corr_mat.shape), k=1).astype(np.bool_))

unique_corr_pairs = upper_corr_mat.unstack().dropna()

sorted_mat = unique_corr_pairs.sort_values()
sorted_mat

highway_mpg       engine_cylinders   -0.621606
city_mpg          engine_cylinders   -0.600776
                  engine_hp          -0.439371
highway_mpg       engine_hp          -0.406563
engine_cylinders  year               -0.041479
city_mpg          year                0.198171
highway_mpg       year                0.258240
engine_hp         year                0.351794
engine_cylinders  engine_hp           0.779988
city_mpg          highway_mpg         0.886829
dtype: float64